/* 메인 화면 문제수 버튼 선택 시 */
.count-select button.active {
    background-color: #3498db !important;
    color: white !important;
    border-color: #2980b9 !important;
}

/* 문제 화면 보기 선택 시 */
#options li.selected {
    background-color: #3498db !important;
    color: white !important;
    border-color: #2980b9 !important;
}
